:root {
	--dark: #00a2ff;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
    --putih: rgb(0, 251, 176);
    --merah: rgba(255, 0, 0, 0.799);
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
}
td{
    font-size: 25px;
    color: #00ff62;
    text-align: center;
}
.a-a {
    box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #f65cdf;
}
h1{
    text-align: center;
    font-size: 2.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}
body {
    background-image: url("https://lh3.googleusercontent.com/-9nusPtiK6Eo/U7sxfQgGJyI/AAAAAAAACR0/0kiuE952uZw/s595/SERA-5-595X300.gif");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}   


#new-task-form {
	display: flex;;
    padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input,#new-task-inputt {
	flex: 1 1 0%;
	background-color: var(--grey);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: #00eeff ;
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--dark);
    background-color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 30px;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--merah),var(--pink));
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	max-width: 600px;
	width: 100%;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--putih);
	margin-bottom: 1rem;
    text-align: center;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color:#00d0ff95;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
    font-size: 40%;
}
#taskss .task {
	display: flex;
	justify-content: space-between;
	background-color:#00d0ff95;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
    font-size: 40%;
}


.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	color: #EC4899;
}

.task .actions .delete {
	color: crimson;
}